.borrow-section{
  padding: 20px 2%;
}

.borrow-history h1{
  color: #fff;
}

#history-container{

  background-color: rgba(221, 221, 221, 0.5);
  color: #f1f1f1;
}


.borrow-active h3{
  color: #fff;
}

.text-container{
  color: #fff;
}

.borrow-history h3{
  color: #ffff;
}
.borrow-history div div{
  color: #fff;
}

