*{
  padding: 0;
  margin: 0;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;


  background:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../IMAGES/bg.png");
  background-size: cover;
  background-position: center;
  opacity: 1;
}
