.members-section{
  padding: 20px;
}
.Library-member h2{
  color: aliceblue;
}

.member-add-box{
  margin-top: 20px;
}



.member-name{
  line-height: .5;

}

.member-name p, .member-edit button{
  display: inline-block;
}



/* Modal Styles */

.modal-header {
  background-color: #343a40;
  color: white;
}

.modal-body {
  background-color: #495057;
  color: white;
}

.modal-footer {
  background-color: #343a40;
  color: white;
}
.modal-content {
  background-color: #495057;
  color: white;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-title {
  color: white;
}
.btn-close {
  filter: invert(1);
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #5a6268;
}
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:hover {
  background-color: #218838;
  border-color: #218838;
}
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}







