.members-section{
  padding: 20px;
}
.Library-member h2{
  color: aliceblue;
}

.member-add-box{
  margin-top: 20px;
}



.member-name{
  line-height: .5;

}

.member-name p, .member-edit button{
  display: inline-block;
}